In [176]:
import pandas as pd

In [177]:
import sys
from pathlib import Path
source_path = Path.cwd().parent
sys.path.append(str(source_path))

In [178]:
import pathlib

KAGGLE_DATABASE = "hugomathien/soccer"
DATA_PATH = "/Users/grantrwilliams/Library/Mobile Documents/com~apple~Pages/Documents/UTK/Sports_Project/data(db&output_pred)"
from utils import ingest_soccer_data

In [179]:
db = ingest_soccer_data(KAGGLE_DATABASE)

Database ready at: ./data/database.sqlite

In [180]:
%load_ext sql
%sql sqlite:///data/database.sqlite

#The below configuration command is necessary for my SQL outputs to run; remove if it causes errors on your end (possibly my ipython-sql or PrettyTable versions are newer)
%config SqlMagic.style = "_deprecated_default"

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [181]:
%%sql
SELECT name FROM sqlite_schema 
WHERE type = "table"
AND name NOT LIKE "sqlite%"
ORDER BY 1;

   sqlite:///data(db&output_pred)/database.sqlite
 * sqlite:///data/database.sqlite
   sqlite:///db
Done.

[('Country',),
 ('League',),
 ('Match',),
 ('Player',),
 ('Player_Attributes',),
 ('Team',),
 ('Team_Attributes',)]

In [182]:
%%sql
PRAGMA table_info(Country)

   sqlite:///data(db&output_pred)/database.sqlite
 * sqlite:///data/database.sqlite
   sqlite:///db
Done.

[(0, 'id', 'INTEGER', 0, None, 1), (1, 'name', 'TEXT', 0, None, 0)]

In [183]:
%%sql
PRAGMA table_info(League)

   sqlite:///data(db&output_pred)/database.sqlite
 * sqlite:///data/database.sqlite
   sqlite:///db
Done.

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'country_id', 'INTEGER', 0, None, 0),
 (2, 'name', 'TEXT', 0, None, 0)]

In [184]:
%%sql
PRAGMA table_info(Match)

   sqlite:///data(db&output_pred)/database.sqlite
 * sqlite:///data/database.sqlite
   sqlite:///db
Done.

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'country_id', 'INTEGER', 0, None, 0),
 (2, 'league_id', 'INTEGER', 0, None, 0),
 (3, 'season', 'TEXT', 0, None, 0),
 (4, 'stage', 'INTEGER', 0, None, 0),
 (5, 'date', 'TEXT', 0, None, 0),
 (6, 'match_api_id', 'INTEGER', 0, None, 0),
 (7, 'home_team_api_id', 'INTEGER', 0, None, 0),
 (8, 'away_team_api_id', 'INTEGER', 0, None, 0),
 (9, 'home_team_goal', 'INTEGER', 0, None, 0),
 (10, 'away_team_goal', 'INTEGER', 0, None, 0),
 (11, 'home_player_X1', 'INTEGER', 0, None, 0),
 (12, 'home_player_X2', 'INTEGER', 0, None, 0),
 (13, 'home_player_X3', 'INTEGER', 0, None, 0),
 (14, 'home_player_X4', 'INTEGER', 0, None, 0),
 (15, 'home_player_X5', 'INTEGER', 0, None, 0),
 (16, 'home_player_X6', 'INTEGER', 0, None, 0),
 (17, 'home_player_X7', 'INTEGER', 0, None, 0),
 (18, 'home_player_X8', 'INTEGER', 0, None, 0),
 (19, 'home_player_X9', 'INTEGER', 0, None, 0),
 (20, 'home_player_X10', 'INTEGER', 0, None, 0),
 (21, 'home_player_X11', 'INTEGER', 0, None, 0),
 (22, 'away_player_X1', 'INTEGER', 0, None, 0),
 (23, 'away_player_X2', 'INTEGER', 0, None, 0),
 (24, 'away_player_X3', 'INTEGER', 0, None, 0),
 (25, 'away_player_X4', 'INTEGER', 0, None, 0),
 (26, 'away_player_X5', 'INTEGER', 0, None, 0),
 (27, 'away_player_X6', 'INTEGER', 0, None, 0),
 (28, 'away_player_X7', 'INTEGER', 0, None, 0),
 (29, 'away_player_X8', 'INTEGER', 0, None, 0),
 (30, 'away_player_X9', 'INTEGER', 0, None, 0),
 (31, 'away_player_X10', 'INTEGER', 0, None, 0),
 (32, 'away_player_X11', 'INTEGER', 0, None, 0),
 (33, 'home_player_Y1', 'INTEGER', 0, None, 0),
 (34, 'home_player_Y2', 'INTEGER', 0, None, 0),
 (35, 'home_player_Y3', 'INTEGER', 0, None, 0),
 (36, 'home_player_Y4', 'INTEGER', 0, None, 0),
 (37, 'home_player_Y5', 'INTEGER', 0, None, 0),
 (38, 'home_player_Y6', 'INTEGER', 0, None, 0),
 (39, 'home_player_Y7', 'INTEGER', 0, None, 0),
 (40, 'home_player_Y8', 'INTEGER', 0, None, 0),
 (41, 'home_player_Y9', 'INTEGER', 0, None, 0),
 (42, 'home_player_Y10', 'INTEGER', 0, None, 0),
 (43, 'home_player_Y11', 'INTEGER', 0, None, 0),
 (44, 'away_player_Y1', 'INTEGER', 0, None, 0),
 (45, 'away_player_Y2', 'INTEGER', 0, None, 0),
 (46, 'away_player_Y3', 'INTEGER', 0, None, 0),
 (47, 'away_player_Y4', 'INTEGER', 0, None, 0),
 (48, 'away_player_Y5', 'INTEGER', 0, None, 0),
 (49, 'away_player_Y6', 'INTEGER', 0, None, 0),
 (50, 'away_player_Y7', 'INTEGER', 0, None, 0),
 (51, 'away_player_Y8', 'INTEGER', 0, None, 0),
 (52, 'away_player_Y9', 'INTEGER', 0, None, 0),
 (53, 'away_player_Y10', 'INTEGER', 0, None, 0),
 (54, 'away_player_Y11', 'INTEGER', 0, None, 0),
 (55, 'home_player_1', 'INTEGER', 0, None, 0),
 (56, 'home_player_2', 'INTEGER', 0, None, 0),
 (57, 'home_player_3', 'INTEGER', 0, None, 0),
 (58, 'home_player_4', 'INTEGER', 0, None, 0),
 (59, 'home_player_5', 'INTEGER', 0, None, 0),
 (60, 'home_player_6', 'INTEGER', 0, None, 0),
 (61, 'home_player_7', 'INTEGER', 0, None, 0),
 (62, 'home_player_8', 'INTEGER', 0, None, 0),
 (63, 'home_player_9', 'INTEGER', 0, None, 0),
 (64, 'home_player_10', 'INTEGER', 0, None, 0),
 (65, 'home_player_11', 'INTEGER', 0, None, 0),
 (66, 'away_player_1', 'INTEGER', 0, None, 0),
 (67, 'away_player_2', 'INTEGER', 0, None, 0),
 (68, 'away_player_3', 'INTEGER', 0, None, 0),
 (69, 'away_player_4', 'INTEGER', 0, None, 0),
 (70, 'away_player_5', 'INTEGER', 0, None, 0),
 (71, 'away_player_6', 'INTEGER', 0, None, 0),
 (72, 'away_player_7', 'INTEGER', 0, None, 0),
 (73, 'away_player_8', 'INTEGER', 0, None, 0),
 (74, 'away_player_9', 'INTEGER', 0, None, 0),
 (75, 'away_player_10', 'INTEGER', 0, None, 0),
 (76, 'away_player_11', 'INTEGER', 0, None, 0),
 (77, 'goal', 'TEXT', 0, None, 0),
 (78, 'shoton', 'TEXT', 0, None, 0),
 (79, 'shotoff', 'TEXT', 0, None, 0),
 (80, 'foulcommit', 'TEXT', 0, None, 0),
 (81, 'card', 'TEXT', 0, None, 0),
 (82, 'cross', 'TEXT', 0, None, 0),
 (83, 'corner', 'TEXT', 0, None, 0),
 (84, 'possession', 'TEXT', 0, None, 0),
 (85, 'B365H', 'NUMERIC', 0, None, 0),
 (86, 'B365D', 'NUMERIC', 0, None, 0),
 (87, 'B365A', 'NUMERIC', 0, None, 0),
 (88, 'BWH', 'NUMERIC', 0, None, 0),
 (89, 'BWD', 'NUMERIC', 0, None, 0),
 (90, 'BWA', 'NUMERIC', 0, None, 0),
 (91, 'IWH', 'NUMERIC', 0, None, 0),
 (92, 'IWD', 'NUMERIC', 0, None, 0),
 (93, 'IWA', 'NUMERIC', 0, None, 0),
 (94, 'LBH', 'NUMERIC', 0, None, 0),
 (95, 'LBD', 'NUMERIC', 0, None, 0),
 (96, 'LBA', 'NUMERIC', 0, None, 0),
 (97, 'PSH', 'NUMERIC', 0, None, 0),
 (98, 'PSD', 'NUMERIC', 0, None, 0),
 (99, 'PSA', 'NUMERIC', 0, None, 0),
 (100, 'WHH', 'NUMERIC', 0, None, 0),
 (101, 'WHD', 'NUMERIC', 0, None, 0),
 (102, 'WHA', 'NUMERIC', 0, None, 0),
 (103, 'SJH', 'NUMERIC', 0, None, 0),
 (104, 'SJD', 'NUMERIC', 0, None, 0),
 (105, 'SJA', 'NUMERIC', 0, None, 0),
 (106, 'VCH', 'NUMERIC', 0, None, 0),
 (107, 'VCD', 'NUMERIC', 0, None, 0),
 (108, 'VCA', 'NUMERIC', 0, None, 0),
 (109, 'GBH', 'NUMERIC', 0, None, 0),
 (110, 'GBD', 'NUMERIC', 0, None, 0),
 (111, 'GBA', 'NUMERIC', 0, None, 0),
 (112, 'BSH', 'NUMERIC', 0, None, 0),
 (113, 'BSD', 'NUMERIC', 0, None, 0),
 (114, 'BSA', 'NUMERIC', 0, None, 0)]

In [185]:
%%sql
PRAGMA table_info(Player)

   sqlite:///data(db&output_pred)/database.sqlite
 * sqlite:///data/database.sqlite
   sqlite:///db
Done.

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'player_api_id', 'INTEGER', 0, None, 0),
 (2, 'player_name', 'TEXT', 0, None, 0),
 (3, 'player_fifa_api_id', 'INTEGER', 0, None, 0),
 (4, 'birthday', 'TEXT', 0, None, 0),
 (5, 'height', 'INTEGER', 0, None, 0),
 (6, 'weight', 'INTEGER', 0, None, 0)]

In [186]:
%%sql
PRAGMA table_info(Player_Attributes)

   sqlite:///data(db&output_pred)/database.sqlite
 * sqlite:///data/database.sqlite
   sqlite:///db
Done.

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'player_fifa_api_id', 'INTEGER', 0, None, 0),
 (2, 'player_api_id', 'INTEGER', 0, None, 0),
 (3, 'date', 'TEXT', 0, None, 0),
 (4, 'overall_rating', 'INTEGER', 0, None, 0),
 (5, 'potential', 'INTEGER', 0, None, 0),
 (6, 'preferred_foot', 'TEXT', 0, None, 0),
 (7, 'attacking_work_rate', 'TEXT', 0, None, 0),
 (8, 'defensive_work_rate', 'TEXT', 0, None, 0),
 (9, 'crossing', 'INTEGER', 0, None, 0),
 (10, 'finishing', 'INTEGER', 0, None, 0),
 (11, 'heading_accuracy', 'INTEGER', 0, None, 0),
 (12, 'short_passing', 'INTEGER', 0, None, 0),
 (13, 'volleys', 'INTEGER', 0, None, 0),
 (14, 'dribbling', 'INTEGER', 0, None, 0),
 (15, 'curve', 'INTEGER', 0, None, 0),
 (16, 'free_kick_accuracy', 'INTEGER', 0, None, 0),
 (17, 'long_passing', 'INTEGER', 0, None, 0),
 (18, 'ball_control', 'INTEGER', 0, None, 0),
 (19, 'acceleration', 'INTEGER', 0, None, 0),
 (20, 'sprint_speed', 'INTEGER', 0, None, 0),
 (21, 'agility', 'INTEGER', 0, None, 0),
 (22, 'reactions', 'INTEGER', 0, None, 0),
 (23, 'balance', 'INTEGER', 0, None, 0),
 (24, 'shot_power', 'INTEGER', 0, None, 0),
 (25, 'jumping', 'INTEGER', 0, None, 0),
 (26, 'stamina', 'INTEGER', 0, None, 0),
 (27, 'strength', 'INTEGER', 0, None, 0),
 (28, 'long_shots', 'INTEGER', 0, None, 0),
 (29, 'aggression', 'INTEGER', 0, None, 0),
 (30, 'interceptions', 'INTEGER', 0, None, 0),
 (31, 'positioning', 'INTEGER', 0, None, 0),
 (32, 'vision', 'INTEGER', 0, None, 0),
 (33, 'penalties', 'INTEGER', 0, None, 0),
 (34, 'marking', 'INTEGER', 0, None, 0),
 (35, 'standing_tackle', 'INTEGER', 0, None, 0),
 (36, 'sliding_tackle', 'INTEGER', 0, None, 0),
 (37, 'gk_diving', 'INTEGER', 0, None, 0),
 (38, 'gk_handling', 'INTEGER', 0, None, 0),
 (39, 'gk_kicking', 'INTEGER', 0, None, 0),
 (40, 'gk_positioning', 'INTEGER', 0, None, 0),
 (41, 'gk_reflexes', 'INTEGER', 0, None, 0)]

In [187]:
%%sql
PRAGMA table_info(Team)

   sqlite:///data(db&output_pred)/database.sqlite
 * sqlite:///data/database.sqlite
   sqlite:///db
Done.

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'team_api_id', 'INTEGER', 0, None, 0),
 (2, 'team_fifa_api_id', 'INTEGER', 0, None, 0),
 (3, 'team_long_name', 'TEXT', 0, None, 0),
 (4, 'team_short_name', 'TEXT', 0, None, 0)]

In [188]:
%%sql
PRAGMA table_info(Team_Attributes)

   sqlite:///data(db&output_pred)/database.sqlite
 * sqlite:///data/database.sqlite
   sqlite:///db
Done.

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'team_fifa_api_id', 'INTEGER', 0, None, 0),
 (2, 'team_api_id', 'INTEGER', 0, None, 0),
 (3, 'date', 'TEXT', 0, None, 0),
 (4, 'buildUpPlaySpeed', 'INTEGER', 0, None, 0),
 (5, 'buildUpPlaySpeedClass', 'TEXT', 0, None, 0),
 (6, 'buildUpPlayDribbling', 'INTEGER', 0, None, 0),
 (7, 'buildUpPlayDribblingClass', 'TEXT', 0, None, 0),
 (8, 'buildUpPlayPassing', 'INTEGER', 0, None, 0),
 (9, 'buildUpPlayPassingClass', 'TEXT', 0, None, 0),
 (10, 'buildUpPlayPositioningClass', 'TEXT', 0, None, 0),
 (11, 'chanceCreationPassing', 'INTEGER', 0, None, 0),
 (12, 'chanceCreationPassingClass', 'TEXT', 0, None, 0),
 (13, 'chanceCreationCrossing', 'INTEGER', 0, None, 0),
 (14, 'chanceCreationCrossingClass', 'TEXT', 0, None, 0),
 (15, 'chanceCreationShooting', 'INTEGER', 0, None, 0),
 (16, 'chanceCreationShootingClass', 'TEXT', 0, None, 0),
 (17, 'chanceCreationPositioningClass', 'TEXT', 0, None, 0),
 (18, 'defencePressure', 'INTEGER', 0, None, 0),
 (19, 'defencePressureClass', 'TEXT', 0, None, 0),
 (20, 'defenceAggression', 'INTEGER', 0, None, 0),
 (21, 'defenceAggressionClass', 'TEXT', 0, None, 0),
 (22, 'defenceTeamWidth', 'INTEGER', 0, None, 0),
 (23, 'defenceTeamWidthClass', 'TEXT', 0, None, 0),
 (24, 'defenceDefenderLineClass', 'TEXT', 0, None, 0)]

In [189]:
%%sql
Player_Attributes << SELECT FROM Player_Attributes;

   sqlite:///data(db&output_pred)/database.sqlite
 * sqlite:///data/database.sqlite
   sqlite:///db
(sqlite3.OperationalError) near "FROM": syntax error
[SQL: SELECT FROM Player_Attributes;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [190]:
%%sql
WITH test AS (SELECT * FROM Match WHERE home_team_api_id NOT NULL AND away_team_api_id NOT NULL)
SELECT COUNT(*) FROM test;

   sqlite:///data(db&output_pred)/database.sqlite
 * sqlite:///data/database.sqlite
   sqlite:///db
Done.

[(25979,)]

In [191]:
%%sql
SELECT COUNT(*) FROM Match;

   sqlite:///data(db&output_pred)/database.sqlite
 * sqlite:///data/database.sqlite
   sqlite:///db
Done.

[(25979,)]