# Import & Ingest

In [1]:
import sys
import pathlib
SOURCE_PATH = pathlib.Path.cwd().resolve().parent
sys.path.append(str(SOURCE_PATH))

In [2]:
from config import *
from utils import ingest_kaggle_database
import pandas as pd

In [3]:
ingest_kaggle_database(SOCCER_DATABASE)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (0.4.0).

In [4]:
%load_ext sql
%sql sqlite:///../data/database.sqlite
%config SqlMagic.style = "_deprecated_default"

In [5]:
%%sql
SELECT name FROM sqlite_schema
WHERE type = "table"
AND name NOT LIKE "sqlite%"
ORDER BY 1;

 * sqlite:///../data/database.sqlite
Done.

[('Country',),
 ('League',),
 ('Match',),
 ('Player',),
 ('Player_Attributes',),
 ('Team',),
 ('Team_Attributes',)]

# Introductory Analysis & Validation Checks (Aiden)

In [6]:
%%sql
WITH test AS (SELECT * FROM Match WHERE home_team_api_id NOT NULL AND away_team_api_id NOT NULL)
SELECT COUNT(*) FROM test;

 * sqlite:///../data/database.sqlite
Done.

[(25979,)]

In [7]:
%%sql
-- Count of matches in Match table
SELECT COUNT(*) FROM Match;

 * sqlite:///../data/database.sqlite
Done.

[(25979,)]

In [8]:
%%sql
-- Count of unique teams
SELECT COUNT(DISTINCT team_long_name) AS unique_team_count
FROM Team;

 * sqlite:///../data/database.sqlite
Done.

[(296,)]

In [9]:
%%sql
-- Displays sample data of Team table
SELECT * FROM Team LIMIT 4;

 * sqlite:///../data/database.sqlite
Done.

[(1, 9987, 673, 'KRC Genk', 'GEN'),
 (2, 9993, 675, 'Beerschot AC', 'BAC'),
 (3, 10000, 15005, 'SV Zulte-Waregem', 'ZUL'),
 (4, 9994, 2007, 'Sporting Lokeren', 'LOK')]

In [10]:
%%sql
-- Displays sample data of Team_Attributes
SELECT * FROM Team_Attributes LIMIT 4;

 * sqlite:///../data/database.sqlite
Done.

[(1, 434, 9930, '2010-02-22 00:00:00', 60, 'Balanced', None, 'Little', 50, 'Mixed', 'Organised', 60, 'Normal', 65, 'Normal', 55, 'Normal', 'Organised', 50, 'Medium', 55, 'Press', 45, 'Normal', 'Cover'),
 (2, 434, 9930, '2014-09-19 00:00:00', 52, 'Balanced', 48, 'Normal', 56, 'Mixed', 'Organised', 54, 'Normal', 63, 'Normal', 64, 'Normal', 'Organised', 47, 'Medium', 44, 'Press', 54, 'Normal', 'Cover'),
 (3, 434, 9930, '2015-09-10 00:00:00', 47, 'Balanced', 41, 'Normal', 54, 'Mixed', 'Organised', 54, 'Normal', 63, 'Normal', 64, 'Normal', 'Organised', 47, 'Medium', 44, 'Press', 54, 'Normal', 'Cover'),
 (4, 77, 8485, '2010-02-22 00:00:00', 70, 'Fast', None, 'Little', 70, 'Long', 'Organised', 70, 'Risky', 70, 'Lots', 70, 'Lots', 'Organised', 60, 'Medium', 70, 'Double', 70, 'Wide', 'Cover')]

In [11]:
%%sql
-- Displays sample data of Player_Attributes
SELECT * FROM Player_Attributes LIMIT 4;

 * sqlite:///../data/database.sqlite
Done.

[(1, 218353, 505942, '2016-02-18 00:00:00', 67, 71, 'right', 'medium', 'medium', 49, 44, 71, 61, 44, 51, 45, 39, 64, 49, 60, 64, 59, 47, 65, 55, 58, 54, 76, 35, 71, 70, 45, 54, 48, 65, 69, 69, 6, 11, 10, 8, 8),
 (2, 218353, 505942, '2015-11-19 00:00:00', 67, 71, 'right', 'medium', 'medium', 49, 44, 71, 61, 44, 51, 45, 39, 64, 49, 60, 64, 59, 47, 65, 55, 58, 54, 76, 35, 71, 70, 45, 54, 48, 65, 69, 69, 6, 11, 10, 8, 8),
 (3, 218353, 505942, '2015-09-21 00:00:00', 62, 66, 'right', 'medium', 'medium', 49, 44, 71, 61, 44, 51, 45, 39, 64, 49, 60, 64, 59, 47, 65, 55, 58, 54, 76, 35, 63, 41, 45, 54, 48, 65, 66, 69, 6, 11, 10, 8, 8),
 (4, 218353, 505942, '2015-03-20 00:00:00', 61, 65, 'right', 'medium', 'medium', 48, 43, 70, 60, 43, 50, 44, 38, 63, 48, 60, 64, 59, 46, 65, 54, 58, 54, 76, 34, 62, 40, 44, 53, 47, 62, 63, 66, 5, 10, 9, 7, 7)]

In [12]:
%%sql
-- Count of unique players
SELECT COUNT(DISTINCT player_fifa_api_id) AS unique_players
FROM Player_Attributes;

 * sqlite:///../data/database.sqlite
Done.

[(11062,)]

In [13]:
%%sql
-- Top 25 rated players
SELECT overall_rating
FROM Player_Attributes
ORDER BY overall_rating DESC
LIMIT 25;

 * sqlite:///../data/database.sqlite
Done.

[(94,),
 (94,),
 (94,),
 (94,),
 (94,),
 (94,),
 (94,),
 (94,),
 (94,),
 (94,),
 (94,),
 (94,),
 (93,),
 (93,),
 (93,),
 (93,),
 (93,),
 (93,),
 (93,),
 (93,),
 (93,),
 (93,),
 (93,),
 (92,),
 (92,)]

In [14]:
%%sql
-- What does the Country table look like?
SELECT * FROM Country LIMIT 4;

 * sqlite:///../data/database.sqlite
Done.

[(1, 'Belgium'), (1729, 'England'), (4769, 'France'), (7809, 'Germany')]

In [15]:
%%sql
-- What does the League table look like?
SELECT * FROM League LIMIT 4;

 * sqlite:///../data/database.sqlite
Done.

[(1, 1, 'Belgium Jupiler League'),
 (1729, 1729, 'England Premier League'),
 (4769, 4769, 'France Ligue 1'),
 (7809, 7809, 'Germany 1. Bundesliga')]

In [16]:
%%sql
-- What does the Match table look like?
-- Player data is incomplete!
SELECT * FROM Match LIMIT 4;

 * sqlite:///../data/database.sqlite
Done.

[(1, 1, 1, '2008/2009', 1, '2008-08-17 00:00:00', 492473, 9987, 9993, 1, 1, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1.73, 3.4, 5, 1.75, 3.35, 4.2, 1.85, 3.2, 3.5, 1.8, 3.3, 3.75, None, None, None, 1.7, 3.3, 4.33, 1.9, 3.3, 4, 1.65, 3.4, 4.5, 1.78, 3.25, 4, 1.73, 3.4, 4.2),
 (2, 1, 1, '2008/2009', 1, '2008-08-16 00:00:00', 492474, 10000, 9994, 0, 0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1.95, 3.2, 3.6, 1.8, 3.3, 3.95, 1.9, 3.2, 3.5, 1.9, 3.2, 3.5, None, None, None, 1.83, 3.3, 3.6, 1.95, 3.3, 3.8, 2, 3.25, 3.25, 1.85, 3.25, 3.75, 1.91, 3.25, 3.6),
 (3, 1, 1, '2008/2009', 1, '2008-08-16 00:00:00', 492475, 9984, 8635, 0, 3, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 2.38, 3.3, 2.75, 2.4, 3.3, 2.55, 2.6, 3.1, 2.3, 2.5, 3.2, 2.5, None, None, None, 2.5, 3.25, 2.4, 2.63, 3.3, 2.5, 2.35, 3.25, 2.65, 2.5, 3.2, 2.5, 2.3, 3.2, 2.75),
 (4, 1, 1, '2008/2009', 1, '2008-08-17 00:00:00', 492476, 9991, 9998, 5, 0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1.44, 3.75, 7.5, 1.4, 4, 6.8, 1.4, 3.9, 6, 1.44, 3.6, 6.5, None, None, None, 1.44, 3.75, 6, 1.44, 4, 7.5, 1.45, 3.75, 6.5, 1.5, 3.75, 5.5, 1.44, 3.75, 6.5)]

In [17]:
%%sql
-- What leagues have player data?
SELECT DISTINCT 
    l.name AS league_name,
    c.name AS country_name
FROM League l
JOIN Country c ON c.id = l.country_id
JOIN Match m ON l.id = m.league_id
WHERE m.home_player_X1 IS NOT NULL
ORDER BY league_name;

 * sqlite:///../data/database.sqlite
Done.

[('Belgium Jupiler League', 'Belgium'),
 ('England Premier League', 'England'),
 ('France Ligue 1', 'France'),
 ('Germany 1. Bundesliga', 'Germany'),
 ('Italy Serie A', 'Italy'),
 ('Netherlands Eredivisie', 'Netherlands'),
 ('Poland Ekstraklasa', 'Poland'),
 ('Portugal Liga ZON Sagres', 'Portugal'),
 ('Scotland Premier League', 'Scotland'),
 ('Spain LIGA BBVA', 'Spain'),
 ('Switzerland Super League', 'Switzerland')]

In [18]:
%%sql
-- What do these values such as "home_player_X5" mean?
SELECT * FROM Match WHERE home_player_X1 IS NOT NULL LIMIT 4;

 * sqlite:///../data/database.sqlite
Done.

[(145, 1, 1, '2008/2009', 24, '2009-02-28 00:00:00', 493016, 9996, 8635, 1, 1, 1, 2, 4, 6, 8, 2, 4, 6, 8, 4, 6, 1, 2, 4, 6, 8, 2, 4, 6, 8, 4, 6, 1, 3, 3, 3, 3, 7, 7, 7, 7, 10, 10, 1, 3, 3, 3, 3, 7, 7, 7, 7, 10, 10, 39890, None, 38788, 38312, 26235, None, None, None, 26916, None, 94289, 34480, 38388, 26458, 13423, 38389, 38798, 30949, 38253, 106013, 38383, 46552, None, None, None, None, None, None, None, None, 5.75, 3.75, 1.55, 5.5, 3.65, 1.55, 4.8, 3.5, 1.55, 5, 3.5, 1.57, None, None, None, 4.8, 3.4, 1.62, 5.5, 3.5, 1.62, 5, 3.4, 1.6, 5.25, 3.6, 1.6, 5.5, 3.6, 1.53),
 (146, 1, 1, '2008/2009', 24, '2009-02-27 00:00:00', 493017, 8203, 9987, 2, 1, 1, 2, 4, 6, 8, 2, 4, 6, 8, 4, 6, 1, 2, 4, 6, 8, 2, 4, 6, 8, 4, 6, 1, 3, 3, 3, 3, 7, 7, 7, 7, 10, 10, 1, 3, 3, 3, 3, 7, 7, 7, 7, 10, 10, 38327, 67950, 67958, 67959, 37112, 36393, 148286, 67898, 164352, 38801, 26502, 37937, 38293, 148313, 104411, 148314, 37202, 43158, 9307, 42153, 32690, 38782, None, None, None, None, None, None, None, None, 3, 3.4, 2.3, 2.95, 3.25, 2.2, 2.8, 3.1, 2.2, 2.75, 3.25, 2.2, None, None, None, 2.62, 3.2, 2.3, 3.05, 3.2, 2.3, 2.65, 3.25, 2.35, 2.9, 3.25, 2.3, 2.8, 3.2, 2.25),
 (147, 1, 1, '2008/2009', 24, '2009-02-28 00:00:00', 493018, 9986, 9998, 3, 0, 1, 2, 4, 6, 8, 6, 8, 2, 4, 4, 6, 1, 2, 4, 8, 6, 2, 4, 6, 8, 4, 6, 1, 3, 3, 3, 3, 7, 7, 7, 7, 10, 10, 1, 3, 3, 3, 3, 7, 7, 7, 7, 10, 10, 95597, None, None, 38435, 94462, 46004, 164732, None, 38246, 38423, 38419, 38252, 39156, 39151, 166554, 15652, 39145, 46890, 38947, 46881, 39158, 119118, None, None, None, None, None, None, None, None, 2, 3.4, 3.4, 1.8, 3.35, 4.05, 1.8, 3.2, 3.7, 1.9, 3.2, 3.5, None, None, None, None, None, None, 1.83, 3.4, 4.1, 1.9, 3.25, 3.75, 1.83, 3.25, 4.25, 1.91, 3.25, 3.6),
 (148, 1, 1, '2008/2009', 24, '2009-03-01 00:00:00', 493019, 9985, 9984, 4, 0, 1, 2, 4, 6, 8, 2, 4, 6, 8, 4, 6, 1, 2, 4, 6, 8, 2, 4, 6, 8, 4, 6, 1, 3, 3, 3, 3, 7, 7, 7, 7, 10, 10, 1, 3, 3, 3, 3, 7, 7, 7, 7, 10, 10, None, 39580, 30692, 37861, 47411, 119117, 35412, 39631, 39591, 25957, 38369, 36835, 37047, 37021, 38186, 27110, 32863, 37957, 37909, 104386, 38251, 37065, None, None, None, None, None, None, None, None, 1.44, 3.75, 7.5, 1.5, 3.55, 6.5, 1.4, 3.9, 6, 1.44, 3.6, 6.5, None, None, None, 1.4, 3.75, 7, 1.5, 3.75, 6.5, 1.4, 3.75, 7.5, 1.45, 3.75, 7.5, 1.4, 3.75, 7.5)]

In [19]:
%%sql
-- Top 10 home scores
-- No outliers, scores look reasonable
SELECT home_team_goal, away_team_goal
FROM Match
ORDER BY home_team_goal DESC
LIMIT 10;

 * sqlite:///../data/database.sqlite
Done.

[(10, 0),
 (10, 2),
 (9, 1),
 (9, 2),
 (9, 0),
 (9, 1),
 (8, 0),
 (8, 2),
 (8, 0),
 (8, 0)]

In [20]:
%%sql
-- Top 10 away scores
-- No outliers, scores look reasonable
SELECT home_team_goal, away_team_goal
FROM Match
ORDER BY away_team_goal DESC
LIMIT 10;

 * sqlite:///../data/database.sqlite
Done.

[(0, 9),
 (1, 8),
 (0, 8),
 (0, 8),
 (2, 8),
 (0, 8),
 (1, 7),
 (1, 7),
 (2, 7),
 (0, 7)]

In [21]:
%%sql
-- What does the Player table look like?
SELECT * FROM Player LIMIT 4;

 * sqlite:///../data/database.sqlite
Done.

[(1, 505942, 'Aaron Appindangoye', 218353, '1992-02-29 00:00:00', 182.88, 187),
 (2, 155782, 'Aaron Cresswell', 189615, '1989-12-15 00:00:00', 170.18, 146),
 (3, 162549, 'Aaron Doran', 186170, '1991-05-13 00:00:00', 170.18, 163),
 (4, 30572, 'Aaron Galindo', 140161, '1982-05-08 00:00:00', 182.88, 198)]

# Exploratory Analysis & Visualization (Keano)

In [22]:
%%sql
-- Build Team Strength Ratings (Offense + Defense):
-- This compresses 40+ player stats into meaningful team metrics.
CREATE VIEW Team_Player_Strength AS
SELECT
m.match_api_id,
AVG(p.overall_rating) AS avg_rating,
AVG(p.finishing + p.shot_power + p.positioning) AS attack_strength,
AVG(p.interceptions + p.marking + p.standing_tackle + p.sliding_tackle) AS defense_strength,
AVG(p.gk_reflexes + p.gk_handling + p.gk_positioning) AS gk_strength
FROM Match m
JOIN Player_Attributes p
ON p.player_api_id IN (
m.home_player_1, m.home_player_2, m.home_player_3, m.home_player_4,
m.home_player_5, m.home_player_6, m.home_player_7, m.home_player_8,
m.home_player_9, m.home_player_10, m.home_player_11,
m.away_player_1, m.away_player_2, m.away_player_3, m.away_player_4,
m.away_player_5, m.away_player_6, m.away_player_7, m.away_player_8,
m.away_player_9, m.away_player_10, m.away_player_11
)
GROUP BY m.match_api_id;

 * sqlite:///../data/database.sqlite
Done.

[]

In [23]:
%%sql
SELECT * FROM Team_Player_Strength LIMIT 15;

 * sqlite:///../data/database.sqlite
Done.

[(483129, 69.8857938718663, 160.81337047353762, 214.70056497175142, 51.3008356545961),
 (483130, 72.94791666666667, 181.0078125, 233.5027027027027, 50.013020833333336),
 (483131, 69.64885496183206, 161.95038167938932, 213.66803278688525, 49.786259541984734),
 (483132, 71.91692307692308, 174.14153846153846, 231.2926045016077, 46.55692307692308),
 (483133, 76.39606126914661, 184.5426695842451, 231.41137855579868, 56.99781181619256),
 (483134, 73.20991253644316, 157.2332361516035, 229.60058309037902, 58.08746355685131),
 (483135, 73.5530303030303, 183.13131313131314, 222.64961636828644, 51.88383838383838),
 (483136, 74.7620320855615, 175.57486631016042, 218.2826086956522, 58.75935828877005),
 (483137, 70.6654411764706, 174.31617647058823, 198.5408560311284, 49.02205882352941),
 (483138, 73.19420289855073, 178.06666666666666, 228.23460410557186, 52.43768115942029),
 (483139, 70.85342019543974, 166.9641693811075, 224.23367697594503, 56.03583061889251),
 (483140, 71.67931034482758, 168.47241379310344, 217.268115942029, 56.741379310344826),
 (483141, 72.4112676056338, 187.03098591549295, 219.34757834757835, 47.59154929577465),
 (483142, 75.97940503432494, 186.18993135011442, 237.07638888888889, 53.41647597254005),
 (483143, 72.97566909975669, 167.330900243309, 219.1435523114355, 56.18248175182482)]

In [24]:
%%sql
-- Best finishers:
SELECT team_api_id, shooting_quality
FROM Shot_Conversion_Power
ORDER BY shooting_quality DESC;

 * sqlite:///../data/database.sqlite
(sqlite3.OperationalError) no such table: Shot_Conversion_Power
[SQL: -- Best finishers:
SELECT team_api_id, shooting_quality
FROM Shot_Conversion_Power
ORDER BY shooting_quality DESC;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [25]:
%%sql
-- Defensive kings:
SELECT team_api_id, defense_resilience
FROM Defensive_Resilience
ORDER BY defense_resilience DESC
LIMIT 10;

 * sqlite:///../data/database.sqlite
(sqlite3.OperationalError) no such table: Defensive_Resilience
[SQL: -- Defensive kings:
SELECT team_api_id, defense_resilience
FROM Defensive_Resilience
ORDER BY defense_resilience DESC
LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [26]:
%%sql
-- Top attacking teams:
SELECT team_api_id, attack_efficiency
FROM Attacking_Efficiency
ORDER BY attack_efficiency DESC
LIMIT 10;

 * sqlite:///../data/database.sqlite
(sqlite3.OperationalError) no such table: Attacking_Efficiency
[SQL: -- Top attacking teams:
SELECT team_api_id, attack_efficiency
FROM Attacking_Efficiency
ORDER BY attack_efficiency DESC
LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [27]:
%%sql
-- Tactical Profile and Spider Chart:
SELECT
t.team_long_name,
AVG(ta.buildUpPlaySpeed) AS build_speed,
AVG(ta.chanceCreationShooting) AS shooting,
AVG(ta.chanceCreationPassing) AS passing,
AVG(ta.chanceCreationCrossing) AS crossing,
AVG(ta.defencePressure) AS pressure,
AVG(ta.defenceAggression) AS aggression
FROM Team_Attributes ta
JOIN Team t ON t.team_api_id = ta.team_api_id
WHERE t.team_long_name = 'FC Barcelona'
GROUP BY t.team_long_name;

 * sqlite:///../data/database.sqlite
Done.

[('FC Barcelona', 35.833333333333336, 53.0, 45.166666666666664, 33.333333333333336, 64.33333333333333, 54.5)]

In [28]:
%%sql
SELECT
home_team_api_id AS team_id,
COUNT(*) AS matches,
SUM(home_team_goal > away_team_goal) AS wins,
ROUND(100.0 * SUM(home_team_goal > away_team_goal) / COUNT(*), 2) AS win_rate
FROM Match
GROUP BY home_team_api_id
ORDER BY win_rate DESC
LIMIT 15;

 * sqlite:///../data/database.sqlite
Done.

[(8634, 152, 131, 86.18),
 (8633, 152, 129, 84.87),
 (9773, 124, 102, 82.26),
 (9772, 124, 102, 82.26),
 (9823, 136, 109, 80.15),
 (9925, 152, 120, 78.95),
 (8640, 136, 105, 77.21),
 (10260, 152, 116, 76.32),
 (8593, 136, 103, 75.74),
 (8635, 106, 79, 74.53),
 (8456, 152, 113, 74.34),
 (8548, 76, 56, 73.68),
 (9931, 143, 103, 72.03),
 (8342, 106, 75, 70.75),
 (9885, 151, 105, 69.54)]

In [29]:
%%sql
-- All Team Win/Losses:
SELECT
t.team_long_name,
SUM(CASE
WHEN m.home_team_api_id = t.team_api_id AND m.home_team_goal > m.away_team_goal THEN 1
WHEN m.away_team_api_id = t.team_api_id AND m.away_team_goal > m.home_team_goal THEN 1
ELSE 0
END) AS wins,
SUM(CASE
WHEN m.home_team_api_id = t.team_api_id AND m.home_team_goal < m.away_team_goal THEN 1
WHEN m.away_team_api_id = t.team_api_id AND m.away_team_goal < m.home_team_goal THEN 1
ELSE 0
END) AS losses
FROM Team t
LEFT JOIN Match m ON t.team_api_id = m.home_team_api_id OR t.team_api_id = m.away_team_api_id
GROUP BY t.team_long_name
ORDER BY wins DESC;

 * sqlite:///../data/database.sqlite
Done.

[('FC Barcelona', 234, 27),
 ('Real Madrid CF', 228, 40),
 ('Celtic', 218, 36),
 ('FC Bayern Munich', 193, 35),
 ('Manchester United', 192, 55),
 ('Juventus', 189, 46),
 ('SL Benfica', 185, 27),
 ('FC Porto', 183, 23),
 ('Ajax', 181, 32),
 ('FC Basel', 180, 42),
 ('PSV', 178, 47),
 ('Chelsea', 176, 58),
 ('Paris Saint-Germain', 175, 53),
 ('Manchester City', 175, 68),
 ('Arsenal', 170, 61),
 ('Atltico Madrid', 167, 78),
 ('Roma', 162, 68),
 ('Borussia Dortmund', 157, 53),
 ('Milan', 154, 70),
 ('Inter', 154, 76),
 ('Olympique Lyonnais', 153, 71),
 ('Napoli', 153, 71),
 ('Tottenham Hotspur', 151, 79),
 ('Liverpool', 150, 78),
 ('LOSC Lille', 147, 65),
 ('Sporting CP', 144, 44),
 ('FC Twente', 144, 57),
 ('Olympique de Marseille', 143, 71),
 ('Valencia CF', 142, 88),
 ('BSC Young Boys', 142, 75),
 ('AZ', 140, 79),
 ('Sevilla FC', 139, 100),
 ('Feyenoord', 139, 70),
 ('Legia Warszawa', 137, 53),
 ('Bayer 04 Leverkusen', 137, 69),
 ('RSC Anderlecht', 136, 27),
 ('Fiorentina', 132, 93),
 ('Lazio', 131, 105),
 ('FC Schalke 04', 127, 88),
 ('SC Braga', 126, 66),
 ('Girondins de Bordeaux', 126, 79),
 ('Lech Pozna', 124, 56),
 ('Club Brugge KV', 123, 49),
 ('Motherwell', 122, 120),
 ('Athletic Club de Bilbao', 122, 111),
 ('Everton', 121, 83),
 ('AS Saint-tienne', 121, 101),
 ('FC Zrich', 120, 97),
 ('Aberdeen', 120, 109),
 ('VfL Wolfsburg', 117, 88),
 ('Udinese', 115, 111),
 ('Grasshopper Club Zrich', 115, 104),
 ('Dundee United', 115, 106),
 ('Villarreal CF', 112, 83),
 ('Stade Rennais FC', 111, 102),
 ('Montpellier Hrault SC', 110, 89),
 ('KAA Gent', 109, 54),
 ('FC Groningen', 109, 101),
 ('Borussia Mnchengladbach', 109, 101),
 ('Wisa Krakw', 108, 68),
 ('Rangers', 108, 19),
 ('SC Heerenveen', 107, 93),
 ('Standard de Lige', 106, 64),
 ('OGC Nice', 106, 117),
 ('Mlaga CF', 106, 120),
 ('Genoa', 106, 117),
 ('Vitesse', 105, 96),
 ('FC Utrecht', 105, 97),
 ('FC Luzern', 105, 107),
 ('FC Sion', 104, 113),
 ('Toulouse FC', 103, 111),
 ('Heart of Midlothian', 101, 99),
 ('VfB Stuttgart', 99, 112),
 ('Stoke City', 98, 120),
 ('St. Johnstone FC', 98, 99),
 ('RCD Espanyol', 97, 134),
 ('KRC Genk', 97, 60),
 ('FC Lorient', 97, 116),
 ('Inverness Caledonian Thistle', 96, 101),
 ('AS Monaco', 95, 58),
 ('Polonia Bytom', 94, 119),
 ('Getafe CF', 94, 139),
 ('CD Nacional', 94, 89),
 ('Heracles Almelo', 93, 118),
 ('Hamburger SV', 93, 113),
 ('Vitria Guimares', 92, 95),
 ('Ruch Chorzw', 92, 91),
 ('Palermo', 91, 107),
 ('Hannover 96', 91, 124),
 ('lsk Wrocaw', 89, 71),
 ('SV Werder Bremen', 89, 107),
 ('1. FSV Mainz 05', 88, 85),
 ('TSG 1899 Hoffenheim', 87, 109),
 ('Jagiellonia Biaystok', 87, 89),
 ('Chievo Verona', 87, 129),
 ('Kilmarnock', 86, 142),
 ('Aston Villa', 86, 130),
 ('CS Martimo', 85, 97),
 ('Sampdoria', 84, 101),
 ('Real Sociedad', 84, 85),
 ('Newcastle United', 82, 119),
 ('KV Kortrijk', 82, 80),
 ('West Ham United', 80, 112),
 ('FC Paos de Ferreira', 80, 93),
 ('KV Mechelen', 79, 81),
 ('Atalanta', 79, 115),
 ('ADO Den Haag', 79, 119),
 ('Sunderland', 78, 134),
 ('SV Zulte-Waregem', 78, 72),
 ('Lechia Gdask', 78, 95),
 ('Cagliari', 76, 114),
 ('West Bromwich Albion', 75, 118),
 ('Rio Ave FC', 75, 104),
 ('Sporting Lokeren', 74, 70),
 ('Parma', 74, 89),
 ('FC St. Gallen', 72, 94),
 ('Eintracht Frankfurt', 72, 103),
 ('Roda JC Kerkrade', 71, 108),
 ('NAC Breda', 71, 109),
 ('Fulham', 71, 95),
 ('FC Thun', 71, 75),
 ('Levante UD', 69, 103),
 ('Korona Kielce', 69, 77),
 ('FC Sochaux-Montbliard', 69, 102),
 ('N.E.C.', 68, 98),
 ('Bologna', 68, 116),
 ('RCD Mallorca', 67, 79),
 ('Catania', 67, 94),
 ('CA Osasuna', 67, 97),
 ('Rayo Vallecano', 66, 96),
 ('Valenciennes FC', 65, 94),
 ('Piast Gliwice', 65, 73),
 ('Hibernian', 65, 101),
 ('Hertha BSC Berlin', 65, 90),
 ('Swansea City', 62, 76),
 ('SC Freiburg', 62, 88),
 ('RC Deportivo de La Corua', 62, 92),
 ('GKS Bechatw', 62, 69),
 ('St. Mirren', 61, 131),
 ('Cracovia', 61, 96),
 ('Southampton', 60, 52),
 ('P. Warszawa', 60, 52),
 ('1. FC Kln', 60, 90),
 ('Zagbie Lubin', 59, 70),
 ('Vitria Setbal', 58, 125),
 ('KSV Cercle Brugge', 58, 90),
 ('Torino', 57, 74),
 ('SM Caen', 56, 81),
 ('Real Betis Balompi', 56, 87),
 ('Hamilton Academical FC', 56, 90),
 ('Acadmica de Coimbra', 56, 110),
 ('AS Nancy-Lorraine', 56, 81),
 ('Sporting Charleroi', 55, 85),
 ('FC Augsburg', 55, 70),
 ('Real Sporting de Gijn', 54, 92),
 ('RC Celta de Vigo', 54, 63),
 ('KVC Westerlo', 54, 82),
 ('AJ Auxerre', 53, 49),
 ('Granada CF', 52, 95),
 ('SC Bastia', 51, 64),
 ('Wigan Athletic', 50, 88),
 ('Ross County FC', 50, 67),
 ('Estoril Praia', 50, 42),
 ('PEC Zwolle', 49, 54),
 ('1. FC Nrnberg', 49, 78),
 ('Widzew d', 48, 80),
 ('UD Almera', 48, 96),
 ('vian Thonon Gaillard FC', 45, 71),
 ('FC Nantes', 45, 63),
 ('Willem II', 44, 119),
 ('Stade de Reims', 44, 66),
 ('Real Zaragoza', 43, 75),
 ('Bolton Wanderers', 43, 76),
 ('Pogo Szczecin', 42, 35),
 ('Podbeskidzie Bielsko-Biaa', 42, 59),
 ('Blackburn Rovers', 42, 71),
 ('Beerschot AC', 40, 70),
 ('Norwich City', 39, 72),
 ('Siena', 37, 75),
 ('Sassuolo', 37, 44),
 ('Real Valladolid', 37, 68),
 ('Racing Santander', 37, 68),
 ('En Avant de Guingamp', 37, 53),
 ('Crystal Palace', 37, 53),
 ('CF Os Belenenses', 37, 68),
 ('Neuchtel Xamax', 36, 59),
 ('FC Aarau', 35, 75),
 ('RKC Waalwijk', 34, 75),
 ('Leicester City', 34, 22),
 ('S.C. Olhanense', 32, 63),
 ('Partick Thistle F.C.', 32, 48),
 ('Hull City', 32, 79),
 ('Hellas Verona', 32, 50),
 ('Sint-Truidense VV', 31, 60),
 ('VVV-Venlo', 29, 79),
 ('KV Oostende', 29, 23),
 ('Dundee FC', 29, 49),
 ('FC Arouca', 28, 41),
 ('Stade Brestois 29', 27, 52),
 ('Excelsior', 27, 74),
 ('De Graafschap', 27, 75),
 ('Royal Excel Mouscron', 26, 46),
 ('RC Lens', 26, 54),
 ('Gil Vicente FC', 26, 63),
 ('Wolverhampton Wanderers', 25, 61),
 ('RAEC Mons', 25, 45),
 ('Moreirense FC', 25, 45),
 ('AC Bellinzona', 25, 58),
 ('Waasland-Beveren', 24, 51),
 ('SC Cambuur', 24, 52),
 ('Lecce', 24, 54),
 ('Unio de Leiria, SAD', 23, 47),
 ('FC Lausanne-Sports', 23, 65),
 ('Queens Park Rangers', 22, 66),
 ('Oud-Heverlee Leuven', 22, 40),
 ('Naval 1 de Maio', 22, 46),
 ('Lierse SK', 22, 61),
 ('AC Ajaccio', 22, 52),
 ('Birmingham City', 21, 29),
 ('Servette FC', 20, 36),
 ('SD Eibar', 20, 38),
 ('SC Beira Mar', 20, 45),
 ('Empoli', 20, 28),
 ('Elche CF', 20, 35),
 ('Arka Gdynia', 20, 44),
 ('Zawisza Bydgoszcz', 19, 27),
 ('FC Vaduz', 19, 57),
 ('Cesena', 19, 61),
 ('Le Mans FC', 18, 40),
 ('Bari', 18, 38),
 ('Portsmouth', 17, 41),
 ('Leixes SC', 17, 28),
 ('Go Ahead Eagles', 17, 37),
 ('Boavista FC', 17, 35),
 ('1. FC Kaiserslautern', 17, 33),
 ('Grnik czna', 16, 27),
 ('Sparta Rotterdam', 15, 37),
 ('Odra Wodzisaw', 15, 31),
 ('Grenoble Foot 38', 15, 39),
 ('Falkirk', 15, 37),
 ('Burnley', 15, 43),
 ('VfL Bochum', 13, 34),
 ('Livorno', 13, 48),
 ('Angers SCO', 13, 14),
 ('Watford', 12, 17),
 ('UD Las Palmas', 12, 18),
 ('KSV Roeselare', 12, 38),
 ('ES Troyes AC', 11, 43),
 ('Bournemouth', 11, 18),
 ('FC Ingolstadt 04', 10, 14),
 ('CD Numancia', 10, 23),
 ('Blackpool', 10, 19),
 ('SV Darmstadt 98', 9, 14),
 ('Lugano', 9, 19),
 ('Hrcules Club de Ftbol', 9, 21),
 ('FCV Dender EH', 9, 17),
 ('Dijon FCO', 9, 20),
 ('Carpi', 9, 18),
 ('CD Tenerife', 9, 20),
 ('Xerez Club Deportivo', 8, 20),
 ('Tondela', 8, 20),
 ('Termalica Bruk-Bet Nieciecza', 8, 13),
 ('RC Recreativo', 8, 21),
 ('Karlsruher SC', 8, 21),
 ('GFC Ajaccio', 8, 17),
 ('Frosinone', 8, 23),
 ('FC St. Pauli', 8, 21),
 ('FC Energie Cottbus', 8, 20),
 ('Amadora', 8, 12),
 ('Uniao da Madeira', 7, 19),
 ("US Boulogne Cote D'Opale", 7, 21),
 ('Tubize', 7, 21),
 ('SC Paderborn 07', 7, 17),
 ('Middlesbrough', 7, 20),
 ('Le Havre AC', 7, 26),
 ('Fortuna Dsseldorf', 7, 18),
 ('FC Volendam', 7, 19),
 ('FC Metz', 7, 22),
 ('Cardiff City', 7, 22),
 ('Brescia', 7, 20),
 ('Reggio Calabria', 6, 19),
 ('Reading', 6, 22),
 ('Portimonense', 6, 17),
 ('Pescara', 6, 28),
 ('Novara', 6, 19),
 ('Eintracht Braunschweig', 6, 21),
 ('Trofense', 5, 17),
 ('KAS Eupen', 5, 17),
 ('Feirense', 5, 16),
 ('FC Penafiel', 5, 22),
 ('Dunfermline Athletic', 5, 23),
 ('SpVgg Greuther Frth', 4, 21),
 ('FC Dordrecht', 4, 22),
 ('DSC Arminia Bielefeld', 4, 14),
 ('Crdoba CF', 3, 24),
 ('AC Arles-Avignon', 3, 24)]